Windows_10_flow.js
[{"id":"610ce021.c8a58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9225b35c.c5afa","type":"mqtt in","z":"610ce021.c8a58","name":"","topic":"Image","qos":"2","datatype":"auto","broker":"cabe45ac.60dd28","x":150,"y":480,"wires":[["86aac594.488a08"]]},{"id":"d3eac77.ac83b38","type":"http request","z":"610ce021.c8a58","name":"photo1.jpeg","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.10.132:1880/photo1.jpeg","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":480,"wires":[["9a0b6248.edd52","bed8ef9f.4e824"]]},{"id":"bed8ef9f.4e824","type":"file","z":"610ce021.c8a58","name":"","filename":"C:\\Users\\Mike\\Desktop\\4th year Group Project\\Node-red\\ANPR\\svm_anpr\\images\\test_images\\test_image.png","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":600,"y":580,"wires":[["a433f45b.b1d128"]]},{"id":"9a0b6248.edd52","type":"debug","z":"610ce021.c8a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":480,"wires":[]},{"id":"86aac594.488a08","type":"delay","z":"610ce021.c8a58","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":480,"wires":[["d3eac77.ac83b38"]]},{"id":"56860607.2a4a88","type":"debug","z":"610ce021.c8a58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":680,"wires":[]},{"id":"a433f45b.b1d128","type":"pythonshell in","z":"610ce021.c8a58","name":"ANPR","pyfile":"C:\\Users\\Mike\\Desktop\\4th year Group Project\\Node-red\\ANPR\\svm_anpr\\anpr.py","virtualenv":"","continuous":true,"stdInData":true,"x":670,"y":680,"wires":[["56860607.2a4a88"]]},{"id":"cabe45ac.60dd28","type":"mqtt-broker","name":"PI","broker":"192.168.10.132","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]